:root {
    /* setting my commonly used colors as variables */
    --grey: rgb(65, 64, 64);
    --blue: #5c8da5;
    --light-grey: #d9dcd6;
    --darkblue: rgb(36, 36, 109);

}
html {
    /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
    font-size: 62.5%;
  }

  /* setting some defaults for the page */



/* I decided to put the header into the flex layout of the page.  The background is not part of the flex layout */
.background {
    height: 350px;
    width: 100%;
    background-image: url("../images/profile-pic.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

/* bgtest is for the floating subtitle above the background picture */
.bgtext {
    position: absolute;
    top: 370px;
    right: 100px;
}

.bgtext p {
    background-color: var(--blue);
    color: black;
    font-size: 4rem;
    padding: 4px;
}

/* The main flex layout starts here, as well as setting the background color for the page */
.main {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--light-grey);
}

/* The header is be flexbox within flexbox.  Instead of using <nav> the navigation items are flex items */
.header {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 100%;
    align-items: center;
    background-color: var(--grey);
    padding: 20px 0px;
}

/* The main header for the site */
.header-h1 {
    flex: 1 0 30%;
    background-color: var(--blue);
    font-size: 5rem;
    text-align: right;
    padding: 5px 5px 5px 0px;
}

/* The header-cards take the place of the nav items.  the header-blank allows for space in between the site header and the nav items */
.header-card {
    flex: 1 0 10%;
    font-size: 3rem;
}

.header-card a {
    color: var(--blue);
}

.header-blank{
    flex: 1 0 28%
}

/* The main section of the page formatting starts here.  Titlecards are for the section titles on the left of the page */
.main-titlecard {
    flex: 0 0 25%;
    margin: 30px 0px 10px 0px;
}

.main-titlecard p {
    align-content: right;
    margin: 3px 3px 3px 0px;
    font-size: 5rem;
    color: var(--grey);
    text-align: end;
    padding-right: 5px;
    color: var(--darkblue);
}

/* This is the card for the content blocks on the right side of the page */
.main-content {
    flex: 0 0 70%;
    display: inline-block;
    font-size: 2rem;
    color: var(--grey);
    border-left: 5px solid var(--darkblue);
    padding-left: 30px;
    margin: 30px 0px 10px 0px;
}

/* The My Work content is another flexbox with flexbox area.  .work sets the new flexbox*/
.work {
    display: flex;
    flex-wrap: wrap;
}

/* This is the card for the premier project, which takes up more space than the others */
.work-big {
    flex: 1 0 90%;
    border: 5px solid var(--blue);
    margin: 3px;
    text-decoration: none;
}

/* These classes are for the tag over the picture */
.card-p {
    background-color: var(--blue);
    color: black;
    font-size: 1rem;
    position: relative;
    width: 20%;
    padding: 4px 4px 4px 20px;
    margin-top: -60px;
    margin-bottom: 22px;
}

.card-heading {
    font-size: 2rem;
}

/* The rest of the cards for My Work uses this formatting */
.work-card {
    flex: 1 0 40%;
    border: 5px solid var(--blue);
    margin: 5px;
    text-decoration: none;
}

/* This class forces the pictures to cover the whole box */
.img {
    object-fit: cover;
    width: 100%;
    vertical-align: bottom;
}

/* This section covers the formating for the contact me content  */
.main article ul li{  
    display: inline-block;
    text-align: center;
    padding: 15px 40px 0px 40px;
    margin-left: 20px;
    font-weight: 600;
    color: var(--darkblue);
}

.main article ul li a {
    color: var(--darkblue);
}

/* Due to requirements only being given for layout on a large screen, I did not implement a mobile first philosohy */